<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calackids">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.calackids.CalcKidsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalcKids"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.activities.MessagePresent"
            android:exported="false"
            android:theme="@style/AppDialogTheme"/>
        <activity
            android:name="com.example.activities.Messages"
            android:theme="@style/Theme.CalcKids.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.example.activities.CreateAction"
            android:exported="false"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name="com.example.activities.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.CreateMessage"
            android:exported="false"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name="com.example.activities.BlankforWhile"
            android:exported="false" />
        <activity
            android:name="com.example.activities.StatePresent"
            android:exported="false"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.ActionPresent"
            android:exported="false"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.InvestPresent"
            android:exported="false"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.LoanPresent"
            android:exported="false"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.ParentMenu"
            android:exported="false"
            android:label="@string/title_activity_open_screen_parent"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.ChildMenu"
            android:exported="false"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.Register_family"
            android:exported="false" />
        <activity
            android:name="com.example.activities.Register"
            android:exported="false" />
        <activity
            android:name="com.example.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CalcKids.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>