<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calackids">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".CalcKidsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalacKids"
        tools:targetApi="31">
        <activity
            android:name="com.example.activities.Investments"
            android:exported="false" />
        <activity
            android:name="com.example.activities.Loans"
            android:exported="false" />
        <activity
            android:name="com.example.activities.Balance"
            android:exported="false"
            android:label="@string/title_activity_balance"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.ParentMenu"
            android:exported="false"
            android:label="@string/title_activity_open_screen_parent"
            android:theme="@style/Theme.CalcKids.NoActionBar" />
        <activity
            android:name="com.example.activities.ChildMenu"
            android:theme="@style/Theme.CalcKids.NoActionBar"
            android:exported="true" />
        <activity
            android:name="com.example.activities.Register_family"
            android:exported="false" />
        <activity
            android:name="com.example.activities.Register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CalcKids.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>